@media (min-width:0px) and (max-width: 575.98px) {

  #img_collapse_adoption {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  #img_collapse_adoption {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  #img_collapse_adoption {
    display: block;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  #img_collapse_adoption {
    display: block;
  }

}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #img_collapse_adoption {
    display: block;
  }
}

@media (min-width: 1400px) and (max-width: 3839.98px) {

  #img_collapse_adoption {
    display: block;
  }
}

.navbar-nav a:hover, footer a:hover{
  color: #00ADB5 !important;
  background-color: #EEEEEE;
}


body{
  background-color: #EEEEEE;
}